<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/artisti-collezioni-curatori-opere.css}" rel="stylesheet">

<head th:replace="fragments/base.html :: testa"></head>

<header>
	Artisti
</header>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body>
	<div class="container">
		<div class="gallery" th:each="artista : ${artisti}">
			<a th:href="@{'/artista' + '/' + ${artista.id}}">
				<img th:src="${artista.immagine}">
			</a>
			<div class="desc-container">
				<span class="desc-title" th:text="|${artista.nome} ${artista.cognome}|"></span>
			
			
			<div>
					<span sec:authorize="hasAuthority('ADMIN')">
						<a class="desc-button" th:href="@{'/admin/modificaArtista'+'/' +${artista.id}}">Modifica artista</a>
					</span>
				
					<span sec:authorize="hasAuthority('ADMIN')">
						<a class="desc-button" th:href="@{'/admin/cancellaArtista'+'/' +${artista.id}}">Elimina artista</a>
					</span>
			</div>
			</div>
		</div>
	</div>
</body>

<footer th:replace="fragments/base.html :: fondo"></footer>

</html>
