<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/artista-curatore.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body th:if="${artista}" th:object="${artista}">
	
	<header th:text="|*{nome} *{cognome}|"></header>

<div>
	<div class="container-bio">
		<div th:if="${artista}" th:object="${artista}">

			<table>
				<tr>
					<td class="descrittori">Data di nascita:</td>
					<td></td>
					<td th:text="*{dataNascita}"></td>
				</tr>
				<tr>
					<td class="descrittori">Data di morte:</td>
					<td></td>
					<td th:if="${artista.dataMorte != null}" th:text="*{dataMorte}"></td>
				</tr>
				<tr>
					<td class="descrittori">Luogo di nascita:</td>
					<td></td>
					<td th:text=*{luogoNascita}></td>
				</tr>
				<tr>
					<td class="descrittori">Luogo di morte:</td>
					<td></td>
					<td th:if="${artista.luogoMorte != null}" th:text=*{luogoMorte}></td>
				</tr>
				<tr>
					<td class="descrittori">Nazionalità:</td>
					<td></td>
					<td th:text="*{nazionalita}"></td>
				</tr>
			</table>

</div>
<a class="flex-item-1">
	<img th:src="${artista.immagine}"
	th:alt="|${artista.nome} ${artista.cognome}|"
	height="300">
</a>
</div>

<div class="biografia">
	<h2>Biografia:</h2>
	<div th:text="${artista.biografia}"></div>
</div>
</div>

<h2 class="opere">Opere:</h2>
	
	<div class="container">
		<div class="gallery" th:each="opera : ${opere}">
			<a th:href="@{'/opera' + '/' + ${opera.id}}">
				<img th:src="${opera.immagine}">
			</a>
		
			<div class="desc-container">
				<span class="desc-title" th:text="${opera.titolo}"></span>
				
			<div>
				<span sec:authorize="hasAuthority('ADMIN')">
					<a class="desc-button" th:href="@{'/admin/modificaOpera'+'/' +${opera.id}}">Modifica opera</a>
				</span>
				
				<span sec:authorize="hasAuthority('ADMIN')">
					<a class="desc-button" th:href="@{'/admin/eliminaOpera'+'/' +${opera.id}}">Elimina opera</a>
				</span>
			</div>  
		
			</div>
		</div>
	</div>

<footer th:replace="fragments/base.html :: fondo"></footer>

</body>
</html>