<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/collezione-opera.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<header th:text="${collezione.nome}"></header>

<body>

	<div class="image-container">
		<img th:src="${collezione.immagine}" th:alt="${collezione.nome}">
	</div>

	<div class="description-container">
		<h2 class="descrittori">
			Descrizione:
		</h2>
		<div th:text="${collezione.descrizione}"></div>

		<div>
			<h2 class="descrittori">
				Curatore:
			</h2>
			<a th:href="@{'/curatore' + '/' + ${collezione.curatore.id}}" class="capitalize"
			th:text="|${collezione.curatore.nome} ${collezione.curatore.cognome}|">
		</a>
	</div>

	<div th:if="${opereCollezione}">
		<h2 class="descrittori">Opere nella collezione:</h2>
		<ul>
			<li th:each="opera : ${opereCollezione}">
				<a class="capitalize" th:href="@{'/opera'+'/'+${opera.id}}" th:text="${opera.titolo}"></a>
			</li>
		</ul>
	</div>
</div>
<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>