<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/artista-curatore.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body th:if="${curatore}" th:object="${curatore}">
	<header th:text="|*{nome} *{cognome}|"></header>
</body>

<section class="container-bio">
	<div class="flex-item" th:if="${curatore}" th:object="${curatore}">
		<table>
			
			<tr>
				<td class="descrittori">Luogo di nascita:</td>
				<td></td>
				<td th:text=*{luogoNascita}></td>
			</tr>
			<tr>
				<td class="descrittori">Email:</td>
				<td></td>
				<td th:text=*{email}></td>
			</tr>
			<tr>
				<td class="descrittori">Telefono:</td>
				<td></td>
				<td th:text="*{telefono}"></td>
			</tr>
			<tr>
				<td class="descrittori">Matricola:</td>
				<td></td>
				<td th:text="*{matricola}"></td>
			</tr>
		</table>
	</div>
	
		<img th:src="${curatore.immagine}"
		th:alt="|${curatore.nome} ${curatore.cognome}|"
		height="300">
	
</section>

<div class="container-collez">
	<h2>Collezioni curate:</h2>
	<ul>
		<li th:each="collezione : ${collezioniCurate}">
			<a th:href="@{'/collezione' + '/' + ${collezione.id}}"
			th:text="${collezione.nome}">
		</a>
	</li>
</ul>
</div>

<footer th:replace="fragments/base.html :: fondo"></footer>
</html>
