<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/auth-form.css}" rel="stylesheet">
<head th:replace="fragments/base.html :: testa">
</head>

<header>Museo Villa Bonelli</header>

<nav th:replace="fragments/base.html :: barra"></nav>

<body>
	<form th:action="@{/login}" method="POST">
		<div class="container">
			<div><h2>Login</h2></div>
			<table>
				<tr>
					<td>Username: </td>
					<td><input name="username" placeholder="username" type="text" required/></td>	
				</tr>

				<tr>
					<td>Password: </td>
					<td><input name="password" placeholder="password" type="password" required/></td>	
				</tr>
			</table>
			<button type="submit">Login</button>
		</div>
	</form>

	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>