<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link th:href="@{/css/auth-form.css}" rel="stylesheet">
<head th:include="fragments/base.html :: testa"> 
</head>

<header>Museo Villa Bonelli</header>

<nav th:replace="fragments/base.html :: barra"></nav>

<body>
	<div>
		<h1>Congratulazioni ti sei registrato!</h1>
	</div>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>