<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/auth-form.css}" rel="stylesheet">
<head th:include="fragments/base.html :: testa"> 
</head>

<header>Museo Villa Bonelli</header>

<nav th:include="fragments/base.html :: barra"></nav>

<body>
   <form th:action="@{/register}" method="POST">
    <div class="container">
       <div><h2>Registrazione</h2></div>

       <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" placeholder="username" required
             th:field="${credentials.username}"/></td>
             <td th:if="${#fields.hasErrors('credentials.username')}"
             th:errors="${credentials.username}" th:style="'color:red'"></td>
         </tr>
         <tr>
            <td>Password:</td>
            <td><input type="password" placeholder="password" required
             th:field="${credentials.password}"/></td>
             <td th:if="${#fields.hasErrors('credentials.password')}"
             th:errors="${credentials.password}" th:style="'color:red'"></td>
         </tr>
         <tr>
            <td>Nome:</td>
            <td><input type="text" placeholder="nome" required
             th:field="${user.nome}"/></td>
             <td th:if="${#fields.hasErrors('user.nome')}"
             th:errors="${user.nome}" th:style="'color:red'"></td>
         </tr>
         <tr>
            <td>Cognome:</td>
            <td><input type="text" placeholder="cognome" required
             th:field="${user.cognome}"/></td>
             <td th:if="${#fields.hasErrors('user.cognome')}"
             th:errors="${user.cognome}" th:style="'color:red'"></td>
         </tr>
     </table>
     <button type="submit">Registra</button>
 </div>
</form>
<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>
