<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/risultatoRicerca.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<header>Risultato della ricerca</header>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body>
	<div class="row">
		<h2>Tutti gli artisti:</h2>
		<div class="column" th:each="artista : ${Artisti}">
			<a th:href="@{'/artista' + '/' + ${artista.id}}">
				<img th:src="${artista.immagine}" th:alt="|${artista.nome} ${artista.cognome}|">
			</a>
		</div>
	</div>

	<div class="row">
		<h2>Tutte le opere:</h2>
		<div class="column" th:each="opera : ${Opere}">
			<a th:href="@{'/opera' + '/' + ${opera.id}}">
				<img th:src="${opera.immagine}" th:alt="${opera.titolo}">
			</a>
		</div>
	</div>

	<div class="row">
		<h2>Tutte le collezioni:</h2>
		<div class="column" th:each="collezione : ${Collezioni}">
			<a th:href="@{'/collezione' + '/' + ${collezione.id}}">
				<img th:src="${collezione.immagine}" th:alt="${collezione.nome}">
			</a>
		</div>
	</div>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>

</html>