*{
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0;
  background: gray;
}

header{
  text-align: center;
  font-family: 'Girassol', cursive;
  font-size: 50px;
}

.container{
  max-width: 85%;
  margin: auto;
  background: #f2f2f2;
  overflow: auto;
}


.gallery{
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.gallery img{
  margin-top: 10px;
  object-fit: fill;
  width: 100%;
  height: 80%;
}

img:hover{
  opacity: 0.5;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.desc-container{
  margin-top: 10px;
  text-transform: capitalize;
  align-items: center;
  align-content: center;
  text-align: center;
}

.desc-container span, span a{
  display: inline-block;
}

.desc-title{
  font-size: 20px;
  font-weight: bold;
}

.desc-button{
  border: 1px outset gray;
  border-radius: 5px;
  width: auto;
  height: auto;
  background-color: #706f6f;
  text-decoration: none;
  color: #ffdb4d;
}

.desc-button:hover{
  text-decoration: underline;
}

.bottoni{
  margin-top: 20px;
}



/*TABELLA DI CANCELLA OPERE*/
table, td, th {
  border: 1px solid black;
}

table{
 width: 90%;
 border-collapse: collapse;
}

.riga:nth-child(even){
  background-color: #f2f2f2;
}

.riga:hover {
  background-color: #ddd;
}

.headers th{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  font-weight: bold;
  text-align: left;
  background-color: darkgray;
  color: white;
}

.table-container{
  display: flex;
  align-items: center;
  align-content: center;
  text-transform: capitalize;
  flex-direction: column;
}
