<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/artisti-collezioni-curatori-opere.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<header>Collezioni</header>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body>
	<div class="container">
		<div class="gallery" th:each="collezione : ${collezioni}">
			<a th:href="@{'/collezione' + '/' + ${collezione.id}}">
				<img th:src="${collezione.immagine}">
			</a>
			<div class="desc-container">
				<span class="desc-title" th:text="${collezione.nome}"></span>
				
				<div>
					<span sec:authorize="hasAuthority('ADMIN')">
						<a class="desc-button" th:href="@{'/admin/modificaCollezione'+'/' +${collezione.id}}">Modifica collezione</a>
					</span>
				
					<span sec:authorize="hasAuthority('ADMIN')">
						<a class="desc-button" th:href="@{'/admin/cancellaCollezione'+'/' +${collezione.id}}">Elimina collezione</a>
					</span>
				</div>
				
			</div>
		</div>
	</div>
</body>
<footer th:replace="fragments/base.html :: fondo"></footer>

</html>