<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/collezione-opera.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<header class="capitalize" th:text="${collezione.nome}"></header>

<body>

	<div class="image-container">
		<img th:src="${collezione.immagine}" th:alt="${collezione.nome}">
	</div>

	<div class="description-container">
		<div class="didascalie">
			Descrizione:
		</div>
		<div th:text="${collezione.descrizione}"></div>

		<div class="margin">
			<span class="didascalie">Curatore:</span>
			<span>
			<a th:href="@{'/curatore' + '/' + ${collezione.curatore.id}}" class="capitalize"
			th:text="|${collezione.curatore.nome} ${collezione.curatore.cognome}|">
		</a>
		</span>
	</div>

	<div th:if="${opereCollezione}">
		<div class="didascalie">Opere nella collezione:</div>
		<ul>
			<li th:each="opera : ${opereCollezione}">
				<a class="capitalize" th:href="@{'/opera'+'/'+${opera.id}}" th:text="${opera.titolo}"></a>
			</li>
		</ul>
	</div>
</div>
<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>