<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/artisti-collezioni-curatori-opere.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<header>Curatori</header>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body>
	<div class="container">
		<div class="gallery" th:each="curatore : ${curatori}">
			<a th:href="@{'/curatore' + '/' + ${curatore.id}}">
				<img th:src="${curatore.immagine}">
			</a>
			<div class="desc-container">
				<div class="desc-title" th:text="|${curatore.nome} ${curatore.cognome}|"></div>
			</div>
		</div>
	</div>
</body>

<footer th:replace="fragments/base.html :: fondo"></footer>
</html>