<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/collezione-opera.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<header class="capitalize" th:text="${opera.titolo}"></header>

<body>
	<div class="image-container">
		<img th:src="${opera.immagine}" th:alt="${opera.titolo}">
	</div>

	<div class="description-container margin">
		<div>
			<div class="didascalie">Descrizione:</div>
			<div th:text="${opera.descrizione}"></div>
		</div>

		<div class="margin capitalize" th:if="${opera.autore != null}">
			<span class="didascalie">Autore:</span>
			<span>
				<a th:href="@{'/artista' + '/' + ${opera.autore.id}}" 
				th:text="|${opera.autore.nome} ${opera.autore.cognome}|">
			</a>
		</span>
		<span th:unless="${opera.autore != null}">Aggiungi autore</span>
	</div>

	<div class="margin">
		<span class="didascalie">Collezione:</span>

		<form th:if="${opera.collezione == null}"
		sec:authorize="hasAuthority('ADMIN')" 
		th:href="@{'/admin/aggiungiOperaACollezione'+'/' +${opera.id}}" 
		th:action="@{'/admin/aggiungiOperaACollezione'+'/' +${opera.id}}" th:method="POST">

		<select th:name="collezioneSelezionata">
			<option value="0">
				--Seleziona una collezione dalla lista--
			</option>
			<option class="capitalize"
			th:each="collezione : ${collezioni}" 
			th:text="${collezione.nome}"
			th:value="${collezione.id}">
		</option>
	</select>
	<button class="button-form" type="submit">Aggiungi ad una collezione</button>
</form>
<span class="capitalize" th:if="${opera.collezione != null}">
	<a th:href="@{'/collezione'+'/'+${opera.collezione.id}}" th:text="${opera.collezione.nome}"></a>
</span>
</div>
</div>

<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>