<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="testa">
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<link th:href="@{/css/base.css}" rel="stylesheet">
	<title>Museo Villa Bonelli</title>
</head>

<!--BARRA DI NAVIGAZIONE SE ***NON*** SEI LOGGATO-->
<nav th:fragment="barra">
	<a class="active" th:href="@{/}">Home</a>
	<a th:href="@{/artisti}">Artisti</a>
	<a th:href="@{/collezioni}">Collezioni</a>
	<a th:href="@{/opere}">Opere</a>
	<a th:href="@{/login}">Login</a>
	<a th:href="@{/register}">Registrati</a>

</nav>


<!--BARRA DI NAVIGAZIONE SE SEI LOGGATO -->
<nav th:fragment="barraLoggato">
	<a class="active" th:href="@{/default}">Home</a>
	<a th:href="@{/artisti}">Artisti</a>
	<a th:href="@{/collezioni}">Collezioni</a>
	<a th:href="@{/opere}">Opere</a>
	<a th:href="@{/logout}">Logout</a>

	<div class="dropdown" sec:authorize="hasAuthority('ADMIN')">
		<button class="dropbtn">Menù admin
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
			<a th:href="@{/admin/addArtista}"> Aggiungi artista</a>
			<a th:href="@{/admin/addOpera}"> Aggiungi opera</a>
			<a th:href="@{/admin/addCollezione}"> Aggiungi collezione</a>
			<a th:href="@{/admin/addCuratore}"> Aggiungi curatore</a>
			<a th:href="@{/admin/cancellaOpera}">Cancella un'opera</a>
		</div>
	</div>

	<form name="ricerca" th:action="@{/ricerca}" method="GET">
		<span> <b> Cerca nel museo </b> </span>
		<span><input type="text" name="cerca" required /></span>
		<span><button id="checkBtn" type="submit">Cerca</button></span>
		<div>
			<input type="checkbox" th:name="scelta" th:value="artista" id="artista" checked>
			<label for="artista">Artisti</label>
			<input type="checkbox" th:name="scelta" th:value="collezione" id="collezione" checked>
			<label for="collezione">Collezioni</label>
			<input type="checkbox" th:name="scelta" th:value="opera" id="opera" checked>
			<label for="opera">Opere</label>
		</div>

		<script type="text/javascript">
			$(document).ready(function () {
				$('#checkBtn').click(function() {
					checked = $("input[type=checkbox]:checked").length;

					if(!checked) {
						alert("Devi selezionare almeno un'opzione.");
						return false;
					}

				});
			});

		</script>
	</form>
</nav>

<!--FOOTER PER LOGGATI E NON-->
<footer th:fragment="fondo">
	<!--<a th:href="@{/artisti}">Artisti</a>
	<a th:href="@{/collezioni}">Collezioni</a>
	<a th:href="@{/opere}">Opere</a>-->
	<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/curatori}">Curatori</a>
	<a th:href="@{/informazioni}">Informazioni</a>
</footer>

</html>
