*{
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #F5F3EB;
}
header{
  font-family: 'Girassol', cursive;
  text-align: center;
  font-size: 50px;
  text-transform: capitalize;
}

.bottoni{
  margin-left: 240px;
}

.biografia{
  padding: 10px;
}

.biografia h2{
  color: #4d4d4d;
}

.opere{
  text-align: center; 
  color: #4d4d4d;
}

.container-bio{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  text-transform: capitalize;
}

.container-collez{
  margin-left: 10px;
  text-transform: capitalize;
}

.container-collez h2{
  margin-left: 10px;
  color: #4d4d4d;
}

.descrittori{
  font-weight: bold;
  color: #5F6973;
}

.container{
  max-width: 1250px;
  margin: auto;
  background: #e6e6e6;
  overflow: auto;
  text-align: center;
  align-items: center;
  align-content: center;
}

.gallery{
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
  height: 300px;
}

.gallery img{
  margin-top: 10px;
  object-fit: cover;
  width: 100%;
  height: 80%;
  align-items: center;
  align-content: center;
  text-align: center;
}

.gallery{
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.desc-container{
  margin-top: 10px;
  text-transform: capitalize;
  align-items: center;
  align-content: center;
  text-align: center;
}

.desc-button:hover{
  text-decoration: underline;
}

img:hover{
  opacity: 0.5;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.desc{
  padding: 15px;
  text-align:center;
  font-size: 20px;
  text-transform: capitalize;
}

.desc-title{
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
} 

.flex-item-1{
  padding: 3px;
  border: 1px outset gray;
  border-radius: 5px;
  width: auto;
  height: auto;
  background-color: #706f6f;
  text-decoration: none;
  color: #ffdb4d;
}

.desc-button{
  border: 1px outset gray;
  border-radius: 5px;
  width: auto;
  height: auto;
  background-color: #706f6f;
  text-decoration: none;
  color: #ffdb4d;
}

.flex-item-1:hover{
  text-decoration: underline;
}

.button-form{
  font-size:20px;
  width:auto;
  height:auto;
  margin-top:20px;
}
