*{
  font-family: 'Open Sans', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

header{
  font-family: 'Girassol', cursive;
  font-size: 50px;
}

table select{
	width:150px;
	height:40px;
  text-transform: capitalize;
}

body{
  padding: 0;
  margin: 0 0 100px;
  text-align: center;
  background: #f2f2f2;
}

table input{
	width:275px;
	height:30px;
	font-size:20px;
}

.container{
  display: flex;
  align-items: center;
  align-content: center;
  text-transform: capitalize;
  flex-direction: column;
  font-size: 20px;
}

table{
  border-spacing: 10px;
  font-size:25px
}

tr{
  margin-bottom: 20px;
  padding: 10px;
}

.capitalize{
text-transform: capitalize;
}

.button-form{
	font-size:20px;
	width:auto;
	height:auto;
	margin-top:20px;
}