*{
  font-family: 'Open Sans', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  text-transform: uppercase;
  margin-top: 4px;
}

/* Dropdown button */
.dropdown .dropbtn {
  display: block;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: transparent;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  background: #bf9b0d;
  }

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.container{
  max-width: 100%;
  margin: auto;
  background: #f2f2f2;
  overflow: auto;
}

.gallery{
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 49%;
  height: 400px;
}

.gallery img{
  object-fit: contain;
  width: 100%;
  height: 80%;
}

.desc{
  padding: 15px;
  text-align:center;
  font-size: 20px;
  text-transform: capitalize;
} 

body{
  padding: 0;
  background-color: #f5f3ea;
  margin: 0 0 100px;
}

header{
  font-family: 'Girassol', cursive;
  font-size: 50px;
  text-align: center;
}

nav{
  margin: 0 0 30px 0;
  overflow: hidden;
  background: #ffcc04;
  line-height: 30px;
}

nav a{
  float: left;
  display: block;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

nav a:hover{
  background: #bf9b0d;
  color: #000;
}

nav .active{
  background: #e3b910;
}

nav form{
  float: right;
  border: none;
  margin-right: 30px;
}

footer{
  margin: 50px 0 0 0;
  position: absolute;
  text-align: center;
  background-color: #252625;
  height: 60px;
  width: 100%;
}

footer a{
  color: white;
  word-spacing: 20px;
  text-transform: capitalize;
}
