*{
  font-family: 'Open Sans', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

header{
  font-family: 'Girassol', cursive;
  text-align: center;
  font-size: 50px;
}

.button-form{
	font-size:20px;
	width:auto;
	height:40px;
	margin-top:20px;
}

form select{
  width: auto;
  font-size: 20px;
  height: 30px;
  text-transform: capitalize;
}

body{
  padding: 0;
  margin: 0 0 50px;
}

.image-container{
  margin-top: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  text-transform: capitalize;
  flex-direction: column;
}

.image-container img{
  max-height: 600px;
  width: auto;
  border-width: 5px;
  border-color: gold;
  border-style: inset;
}

.description-container{
  margin-left: 20px;
}

.descrittori{
  font-weight: bold;
  color: #4d4d4d;
}

.capitalize{
  text-transform: capitalize;
}

.didascalie{
  margin-top: 20px;
  font-size: 25px;
  margin-right: 10px;
  font-weight: bold;
  color: #4d4d4d;
}

.margin{
  margin-top: 20px;
  margin-bottom: 20px;
}