*{
  font-family: 'Open Sans', sans-serif;
}

body{
  text-align: center;
}

h2{
  margin-top: 10px;
  margin-bottom: 20px;
}

.row > .column {
  padding: 0 8px;
}

.didascalia{
	text-align:center;
	text-transform:capitalize;
	font-weight: bold;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
  align-content: center;
  align-items: center;
  text-align: center;
}

img{
  object-fit: contain;
  max-width: 300px;
  max-height: 200px;
}

img:hover{
  opacity: 0.5;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
