<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/auth-form.css}" rel="stylesheet">

<head th:replace="fragments/base.html :: testa"></head>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body>

  <form enctype="multipart/form-data" th:action="@{/admin/inserisciArtista}" method="POST" th:object="${artista}">

    <div th:if="${#fields.hasGlobalErrors()}">
      <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>

    <div class="container">
      <div><h2>Inserisci i dati di un artista</h2></div>
      
      <table>
        <tr>
          <td>Nome:</td>
          <td><input type="text" th:field="*{nome}" /></td>
          <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
        </tr> 

        <tr>
          <td>Cognome:</td>
          <td><input type="text" th:field="*{cognome}" /></td>
          <p th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></p>
        </tr>

        <tr>
          <td>Data di nascita:</td>
          <td><input type="date" th:max="${dataOggi}" th:field="*{dataNascita}" /></td>
          <p th:if="${#fields.hasErrors('dataNascita')}" th:errors="*{dataNascita}"></p>
        </tr>

        <tr>
          <td>Data di morte:</td>
          <td><input type="date" th:field="*{dataMorte}" /></td>
        </tr>

        <tr>
          <td>Luogo di nascita:</td>
          <td><input type="text" th:field="*{luogoNascita}" /></td>
          <p th:if="${#fields.hasErrors('luogoNascita')}" th:errors="*{luogoNascita}"></p>
        </tr>

        <tr>
          <td>Luogo di morte:</td>
          <td><input type="text" th:field="*{luogoMorte}" /></td>
        </tr>

        <tr>
          <td>Nazionalita:</td>
          <td><input type="text" th:field="*{nazionalita}" /></td>
          <p th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></p>
        </tr>

        <tr>
          <td>Biografia:</td>
          <td><input type="text" th:field="*{biografia}" /></td>
          <p th:if="${#fields.hasErrors('biografia')}" th:errors="*{biografia}"></p>
        </tr>

        <tr>
          <td>Immagine:</td>
          <td><input accept="image/png, image/jpeg" type="file" th:name="foto" required/></td>
        </tr>
      </table>
      	<button type="submit" class="button-form">Invio</button>
    </div>
  </form>
  
</body>
</html>