<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/auth-form.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body>

  <form enctype="multipart/form-data" th:action="@{/admin/inserisciCollezione}" method="POST" th:object="${collezione}">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>

    <div class="container">
      <div><h2>Inserisci i dati di una collezione</h2></div>
      <table>

        <tr>
          <td>Nome:</td>
          <td><input type="text" th:field="*{nome}" /></td>
          <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
        </tr>

        <tr>
          <td>Descrizione:</td>
          <td><input type="text" th:field="*{descrizione}" /></td>
          <p th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></p>
        </tr>

        <tr>
          <td>Immagine:</td>
          <td><input accept="image/png, image/jpeg" type="file" th:name="foto" required/></td>
        </tr>
        
        <tr>
          <td>Curatore:</td>
          <td>
            <select th:field="${collezione.curatore}">
              <option value="0">Seleziona curatore</option>
              <option class="capitalize"
              th:each="curatore : ${curatori}" 
              th:value="${curatore.id}" 
              th:text="|${curatore.nome} ${curatore.cognome}|"></option>
            </select>
          </td>
        </tr>
      </table>
      <button type="submit" class="button-form">Invio</button>
    </div>


  </form>
</body>

</html>