<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/auth-form.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body>

  <form enctype="multipart/form-data" th:action="@{/admin/inserisciCuratore}" method="POST" th:object="${curatore}">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>

    <div class="container">
      <div><h2>Inserisci i dati di un curatore</h2></div>
      <table>
       <tr>
        <td>Nome:</td>
        <td><input type="text" th:field="*{nome}" /></td>
        <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
      </tr>

      <tr>
        <td>Cognome:</td>
        <td><input type="text" th:field="*{cognome}" /></td>
        <p th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></p>
      </tr>

      <tr>
        <td>Luogo di nascita:</td>
        <td><input type="text" th:field="*{luogoNascita}" /></td>
        <p th:if="${#fields.hasErrors('luogoNascita')}" th:errors="*{luogoNascita}"></p>
      </tr>

      <tr>
        <td>Email:</td>
        <td><input type="text" th:field="*{email}" /></td>
      </tr>

      <tr>
        <td>Telefono:</td>
        <td><input type="text" th:field="*{telefono}" /></td>
      </tr>

      <tr>
        <td>Matricola:</td>
        <td><input type="text" th:field="*{matricola}" /></td>
      </tr>

       <tr>
          <td>Immagine:</td>
          <td><input accept="image/png, image/jpeg" type="file" th:name="foto" required/></td>
        </tr>
    </table>
    <button type="submit" class="button-form">Invio</button>
  </div>

</form>
</body>

</html>