<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/auth-form.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body>

  <form enctype="multipart/form-data" th:action="@{'/admin/modificaOpera' + '/' + ${opera.id}}" method="POST" th:object="${opera}">

    <div class="container">
      <div><h2>Modifica i dati dell'opera</h2></div>
      <table>
        
        <tr>
          <td>Titolo:</td>
          <td><input th:value="${opera.titolo}" type="text" th:field="*{titolo}" /></td>
          <p  th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></p>
        </tr>

        <tr>
          <td>Descrizione:</td>
          <td><input th:value="${opera.descrizione}" type="text" th:field="*{descrizione}" /></td>
          <p th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></p>
        </tr>
        
        <tr>
          <td>Immagine:</td>
          <td><input accept="image/png, image/jpeg" type="file" th:name="foto"/></td>
        </tr>
      </table>
      <button class="button-form" type="submit">Invio</button>
    </div>
  </form>
</body>