<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/auth-form.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>
<body>

  <form th:action="@{'/admin' + '/' + 'modificaArtista' + '/' + ${artista.id}}" method="POST" th:object="${artista}"> 

    <div class="container">
      <div><h2>Modifica i dati dell'artista</h2></div>
      <table>
        <tr>
          <td>Nome:</td>
          <td><input th:value="*{nome}" type="text" th:field="*{nome}" /></td>
          <td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
        </tr> 

        <tr>
          <td>Cognome:</td>
          <td><input th:value="*{cognome}" type="text" th:field="*{cognome}" /></td>
          <td th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></td>
        </tr> 

        <tr>
          <td>Biografia:</td>
          <td><input type="text" th:field="*{biografia}" th:value="*{biografia}" /></td>
          <td th:if="${#fields.hasErrors('biografia')}" th:errors="*{biografia}"></td>
        </tr>
      </table>
      <button class="button-form" type="submit">Invio</button>
    </div>

  </form>

</body>
</html>