<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/auth-form.css}" rel="stylesheet">
<head th:include="fragments/base.html :: testa"></head>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<head>
	<meta charset="utf-8">
</head>
<body>
	<form th:action="@{'/admin' + '/' + 'modificaCollezione' + '/' + ${collezione.id}}" method="POST" th:object="${collezione}"> 

		<div class="container">
			<div><h2>Modifica i dati della collezione</h2></div>
			<table>

				<tr>
					<td>Nome:</td>
					<td><input th:value="*{nome}" type="text" th:field="*{nome}" /></td>
					<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
				</tr> 

				<tr>
					<td>Descrizione:</td>
					<td><input th:value="*{descrizione}" type="text" th:field="*{descrizione}" /></td>
					<td th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></td>
				</tr> 
			</table>
			<button class="button-form" type="submit"> Invio</button>
		</div>
	</form>
</body>
</html>











