<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/%22%3E">

<link th:href="@{/css/artisti-collezioni-curatori-opere.css}" rel="stylesheet">
<head th:replace="fragments/base.html :: testa"></head>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body>
	<h3>Clicca sul titolo di un'opera per cancellarla</h3>
	<div class="table-container">
		<table>
			<tr class="headers">
				<th>Titolo</th>
				<th>Data di realizzazione</th>
				<th>Autore</th>
				<th>Collezione</th>
			</tr>
			<tr class="riga" th:each="opera : ${opere}">
				<td>
					<a th:href="@{'/admin/cancellaOpera'+'/' +${opera.id}}" th:text="${opera.titolo}"></a>
				</td>
				<td th:text="${opera.dataRealizzazione}"></td>
				<td th:if="${opera.autore != null}">
					<a th:href="@{'/artista'+'/'+${opera.autore.id}}" 
					th:text="|${opera.autore.nome} ${opera.autore.cognome}|"></a>
				</td>
				<td th:unless="${opera.autore != null}">autore non definito</td>
				<td th:if="${opera.collezione != null}">
					<a th:href="@{'/collezione'+'/'+${opera.collezione.id}}" 
					th:text="${opera.collezione.nome}"></a>
				</td>
				<td th:unless="${opera.collezione != null}">collezione non assegnata</td>
			</tr>
		</table>
		<div class="bottoni">
			<a class="desc-button" th:href="@{/cancellaOpere/ordinaAlfabetico}">Ordine alfabetico</a>
			<a class="desc-button" th:href="@{/cancellaOpere/ordinaData}">Data crescente</a>
		</div>
	</div>
<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>