<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/collezione-opera.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body>

	<h2>Ecco i dati che hai inserito</h2>

	<form th:action="@{/admin/confermaOpera}" method="POST" th:object="${opera}">

		<div class="image-container">
			<img th:src="${opera.immagine}" th:alt="${opera.titolo}">
		</div>

		<div class="description-container">
			<div>
				<h2 class="descrittori">Descrizione:</h2>
				<div th:text="${opera.descrizione}"></div>
			</div>

			<div class="capitalize" th:if="${opera.autore != null}">
				<h2 class="descrittori">Autore:</h2>
				<a th:href="@{'/artista' + '/' + ${opera.autore.id}}" 
				th:text="|${opera.autore.nome} ${opera.autore.cognome}|">
			</a>
		</div>


		<section>
			<button th:type="submit" th:name="action" th:value="confirm">Conferma</button>
			<button th:type="submit" th:name="action" th:value="cancel">Torna indietro</button>
		</section>

	</form>

</body>
</html>