<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/auth-form.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body>

  <form enctype="multipart/form-data" th:action="@{/admin/inserisciOpera}" method="POST" th:object="${opera}">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>

    <div class="container">
      <div><h2>Inserisci i dati di un' opera</h2></div>
      <table>
        <tr>
          <td>Titolo:</td>
          <td><input type="text" th:field="*{titolo}" /></td>
          <p th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></p>
        </tr>

        <tr>
          <td>Data di realizzazione:</td>
          <td><input type="date" th:field="*{dataRealizzazione}" /></td>
          <p th:if="${#fields.hasErrors('dataRealizzazione')}" th:errors="*{dataRealizzazione}"></p>
        </tr>

        <tr>
          <td>Descrizione:</td>
          <td><input type="text" th:field="*{descrizione}" /></td>
          <p th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></p>
        </tr>

        <tr>
          <td>Immagine:</td>
          <td><input accept="image/png, image/jpeg" type="file" th:name="foto" required /></td>
        </tr>


        <tr>
          <td>Artista:</td>
          <td>
            <select th:field="${opera.autore}">
              <option value="0">Seleziona autore</option>
              <option class="capitalize" 
              th:each="artista : ${artisti}" 
              th:value="${artista.id}" 
              th:text="|${artista.nome} ${artista.cognome}|"></option>
            </select>
          </td>
        </tr>
      </table>
    </div>

    <button type="submit">Invio</button>
  </form>
</body>

</html>